* {
    background-color: #224031;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.appTitle, .filters, .appTitle, .filters, .listView, .form-container, .completed-list, .instructions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listView {
    flex-direction: column;
}
.matrix {
    display: grid;
    gap: 0;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: auto;
    grid-template-columns: repeat(2, 1fr);
}

.matrix ul {
    margin: 10px;
    padding: 10px;
}

.matrix li {
    color:#3f3f3f;
}
.do {
    background-color: rgb(255, 164, 164);
}

.decide {
    background-color: rgb(252, 221, 169);
}

.delegate {
    background-color: rgb(255, 255, 161);
}

.delete {
    background-color: rgb(149, 252, 180);
}

li {
    list-style-type: none;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.form-container input {
    width: 80%;
    height: 30px;
}

.form-container button {
    margin-top: 1vh;
    margin-bottom: 3vh;
    width: 80%;
    height: 30px;
}

.filters button {
    width: 10%;
    margin-left: 1vw;
    margin-right: 1vw;
    background-color: black;
}

.completed-list {
    display: flex;

}

  
.matrix-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.matrix-column {
    flex: 1;
}


.steps-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

div .steps-container {
    background-color: black;
}

.instructions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}